h1 {
    text-align: center;
    color: deepskyblue;
}
h2 {
    text-align: center;
    }
img {
    width: 300;
    height: 200;
}
img {
    float: center
}
h2 {
    text-align: left;
    color: blue;
}

. box {
  
    padding: 6px;
    margin: 20px;
    background-color: black;
    
}
. sidebar {
    width: 30%;
    float: center;
    
}
. column {
    width: 350px;
    float: center;
}